.single {
    padding: 2px 16px;
    background: #fff;
    margin: 20px 10px;
    border-left: 4px solid #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    transition: all 0.3s ease;
  }
  .single:hover{
    border-left: 4px solid #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
  .iconCss{
    display: flex;
    align-items: center;
  }
  .titleDiv{
    display: contents;
  }

  @media only screen and (max-width: 600px) {
    .single {
      font-size: 15px;
    }
  }