.single {
    padding: 2px 16px;
    background: #fff;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .single:hover{
    border-left: 8px solid gray;
  }
  .iconCss{
    display: flex;
    align-items: center;
  }
  .titleDiv{
    display: contents;
  }

  @media only screen and (max-width: 600px) {
    .single {
      font-size: 15px;
    }
  }